*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#box{
    height: 50px;
    width: 50px;
    background-color: aquamarine;
    margin: 30px;
}
button{
    margin: 20px;
    width: 100px;
    height: 30px;
    background-color: fuchsia;
    border-radius: 30px;
    border: none;
}
input{
    margin: 20px;
    width: 200px;
    border-radius: 20px;
}
label{
    padding-left: 50px;
}